@font-face {
    font-family: Vipnagorgialla Bold Italic;
    src: url(../assets/fonts/Vipnagorgialla\ Bd\ It.otf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: Vipnagorgialla;
    src: url(../assets/fonts/Vipnagorgialla\ Rg.otf);
}

@font-face {
    font-family: Vipnagorgialla Italic;
    src: url(../assets/fonts/Vipnagorgialla\ Rg\ It.otf);
    font-style: italic;
}

body {
    background-color: black;
    color:rgb(200, 255, 197);
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

.page-container {
    padding: 1rem;
    background-color: rgb(0, 30, 30);
    position: relative;
    min-height: 100vh;
    max-width: 70rem;
    margin: 0 auto;
}

.footer {
    position: absolute;
    bottom: 0;
    margin: 1rem;
}

main {
    margin: 1rem;
}

h1, h2 {
    font-family: 'Vipnagorgialla', 'Vipnagorgialla Italic', 'Vipnagorgialla Bold Italic', Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.navbar {
    background: rgb(0, 15, 15);
    font-family: Helvetica, Arial, sans-serif;
     overflow: hidden;
}

.navbar a {
    font-size: 16px;
    padding: 14px 16px;
    float: left;
    text-decoration: none;
    color:rgb(200, 255, 197);
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .title {
    font-family: 'Vipnagorgialla Bold Italic', 'Vipnagorgialla Italic', 'Vipnagorgialla', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: italic;
}